@media screen and (max-width: 768px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}

#site-box {
	border: 1px solid #FF9900;
	padding: 10px;
	margin: 5px auto;
}

#a-box {
	border-bottom: 1px solid #FF9900;
	background-image: url('img/header.gif');
	padding: 20px;
}

#b-box {
	float: left;
	width: 500px;
}

#c-box {
	float: right;
	width: 250px;
}

#d-box {
	clear: both;
	width: 750px;
	background-color: #FFFF99;
	font-size:12px;
	padding: 10px;
	text-align: center;
}

h1{
	font-size: 22px;
}

h2{
	font-size: 17px;
	background-color: #FFFF99;
	padding: 10px;
	margin: 5px;
}

h3{
	font-size: 15px;
	color: #FF9900;
	margin: 5px;
}

p{
	font-size: 14px;
	margin: 30px;
}

ul{
	padding: 10px 5px 10px 30px;

.category{
	font-size: 14px;
	color: #FFFFFF;
	background-color: #FF9900;
	padding: 5px;
	margin: 5px;
}

}